@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

:root {
  --primary-color: #488389; /* Blue */
  --secondary-color: #cadbdd; /* Green */
  --text-color: #000000; /* Dark gray */
  --background-color: #f3f3f3; /* Light gray */
}
